#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#jobs{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 32px;
    margin-top: 32px;
}
.jobs-column1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;
}
.jobs-column2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}
.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 30%;
    padding: 25px;
    border-radius: 20px;

    box-shadow: var(--color-primary-7);
    background-color: var(--color-neutral-0);
    overflow: hidden;
}
.job-title{
    height: 24px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.6rem;
}
.job-image{
    max-width: 350px;
    border-radius: 4%;
}
.job-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: var(--color-neutral-10);
    font-size: 1.3rem;
    gap: 18px;
}
@media screen and (max-width: 1750px){
    .job-image{
        max-width: 295px;
    }
}
@media screen and (max-width: 1560px){
    .job-image{
        max-width: 280px;
    }
}
@media screen and (max-width: 1500px){
    .section-title{
        font-size: 1.8rem;
    }
    .section-subtitle{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1430px){
    #jobs{
        flex-wrap: wrap;
    }

    #services .section-title{
        font-size: 2rem;
    }
    #services .section-subtitle{
        font-size: 3rem;
    }
    .job-title{
        font-size: 1.5rem;
    }
    .job-image{
        max-width: 210px;
    }
}
@media screen and (max-width: 1300px){
    .job-title{
        font-size: 1.28rem;
        margin-bottom: 42px;
    }
}
@media screen and (max-width: 1200px){
    #services .section-subtitle{
        text-align: center;
    }
    .job-title{
        font-size: 1.3rem;
        margin-bottom: 42px;
    }
    .job-link{
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 1100px){
    .job-image{
        max-width: 180px;
    }
    .job-title{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1000px){
    .job{
        width: 30%;
    }
    .job-title{
        font-size: 1.1rem;
    }
    .job-image{
        max-width: 170px;
    }
}
@media screen and (max-width: 700px){
    #jobs{
        gap: 0px;
    }
    .jobs-column1,
    .jobs-column2{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        width: 100%;
    }
    .job{
        width: 60%;
        margin: 10px;
    }
    .job-image{
        max-width: 250px;
    }
    .job-title{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 650px){
    #services .section-title{
        font-size: 2rem;
    }
    #services .section-subtitle{
        font-size: 2.7rem;
    }
    .job{
        width: 60%;
    }
}
@media screen and (max-width: 530px){
    .job{
        width: 75%;
    }
}